/*Declaração de variaveis*/
:root {
    --light_green: #4dbd90;
    --dark_green: #3e5c50;
    --light_grey: #dde7ed;
    --white: #ffffff;
    --dark_grey: #333;
    --black: #000;
    --light_blue: #3898ec;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

/*Navbar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 342px;
    position: fixed;
    background: var(--white);
    width: 100%;

}

nav img{
    width: 200px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    color: var(--dark_grey);
    height: 100%;
    align-items: center;
}

nav ul li{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    margin-top: 15px;
}

nav ul li:hover{
    border-top: 5px solid var(--light_green);
    transition: 0.3s;
}

nav ul li a{
    text-decoration: none;
    color: var(--black);
    font-weight: 300;

}

nav ul li a:hover{
    color: var(--light_green);
    transition: 0.3s;
}

/*Hero*/

.hero{
    display: flex;
    background-color: var(--light_green);
    height: 430px;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    
}

.hero_info{
    margin-right: 30px;
}
.hero_info h1{
    color: var(--white);
    font-size: 38px;
    font-family: Arial !important; 
    margin-bottom: 20px;


}

.hero_info p{
    color: var(--white);
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 26px;

}

.hero_btn{
    width: auto;
    height: auto;
    padding: 13px 23px;
    font-size: 16px;
    
}

#hero_signup_btn{
    background-color: black;
    color: var(--white);
    cursor: pointer;
}

#hero_signup_btn:hover{
    background-color: transparent;
    color: var(--black);
    transition: 0.3s;

}


#hero_saiba_mais_btn{
    background-color: transparent;
    cursor: pointer;
    
}

#hero_saiba_mais_btn:hover{
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s;
}
.hero img{
    width: 450px;


    
}

/*Barra de separação*/
.separator_bar{
    background-color: var(--dark_green);
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.separator_bar h2{
    color: rgba(255, 255, 255, 0.31);
    font-weight: 300;
    font-size: 16px;
}

.separator_bar{
    display: flex;
}

.separator_bar img{
    width: 8%;
    margin: 0 30px;
}


/*Features*/


.features{
    width: 80%;

    margin: auto;
}


.features h1{
    font-size: 30px;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 200;
}

#subtitulo_feature{
    text-align: center;
    margin-bottom: 70px;
    font-weight: 300;
}
.row_container{
    display: flex;

    height: 250px;
    align-items: center;
    padding: 70px;
}

.feature_img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    
    text-align: right;
    height: auto;
}

.feature_img_container img{
    width: 400px;
}

.feature_text_container{
   
    width: 50%;
    padding-left: 40px;
}

.feature_text_container img{
    width: 36px;
}

.feature_text_container h3{
    font-size: 22px;
    font-weight: 200;
}

.feature_text_container p{
    font-weight: 300;
    font-size: 16px;
}

.second_feature_text{
    padding-left: 100px;
}

.cards_container{
    display: flex;
    margin-top: 80px;
    margin-bottom: 70px;
}
.card_features{
    width: 400px;
}



/*Form_section*/

.form_section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light_grey);
}

.form_section h1{
    text-align:center;

}

#report_form{
    display: flex;
    flex-direction: column;
}

#repot_form label{
    font-weight: 600;
    
}

#report_form input{
    height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 600px;
    border: 0;
    outline: 0;
    padding: 8px;
}

#report_form input[name=Descricao]{
    margin-bottom: 0;
}

#report_form input[type=submit]{
    width: 100px;
    background-color: var(--light_blue);
    cursor: pointer;
}

#report_form span{
    text-align: center;
    margin-top: 30px;
}

/*Equipe*/

.equipe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
 
}

.equipe h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

#img_equipe{
    width: 70px;
    border-radius: 50%;
    margin: auto;
}

.equipe p{
    text-align: center;
    font-size: 25px;
}
.equipe h3{
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

#cargo{
    font-size: 16px;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    margin-bottom: 40px;
}


/*Barra de separação*/
.separator_2{
    background-color: #a1bfd4;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.separator_2 h2{
    color: rgba(255, 255, 255, 0.31);
    font-weight: 300;
    font-size: 16px;
}

.separator_2{
    display: flex;
}

.separator_2 img{
    width: 8%;
    margin: 0 30px;
}



/*Footer*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #1c1d1f;
    color: white;
}





