*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Roboto', sans-serif
}

body{
    background-image: url(IMG/Login_Page/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
   
}

.login_container{
    width: 432px;
    height: 590px;
    background-color: #005450;
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;


    
    
}
.login_container img{
    width: 50px;
    
}

#form_login{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    width: 90%;
}

.input_form{
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 40px;
    margin-bottom: 20px;
    padding: 12px 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    outline: none;
    font-size: 22px;

}

.sign_up_btn{
    width: 234px;
    background-color: white;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 100px;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 300;
    
}

.sign_up_btn:hover{
    opacity: 0.6;
    transition: 0.3s;
}

.login_container p{
    font-size: 16px;
    color: white;
    margin-bottom: 90px;
}

.login_container span{
    color: white;
    margin-top: 1%;
    margin-bottom: 4%;
}

.login_container a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.69);
}

#alerta{
    width: 600px;
    margin: auto;
    margin-top: 30px;
    display: none;
    background-color: #F8D7DA;
    border-radius: 15px;
    color: #6A1A21;
    height: 80px;
    
    align-items: center;
    justify-content: center;

}

.ativo{
    display: flex !important;
}

