/*Declaração de variaveis*/
:root {
    --light_green: #4dbd90;
    --dark_green: #3e5c50;
    --white: #ffffff;
    --dark_grey: #333;
    --black: #000;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
}

/*Navbar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 342px;
    position: fixed;
    background: var(--white);
    width: 100%;

}

nav img{
    width: 200px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    color: var(--dark_grey);
}

nav ul li a{
    text-decoration: none;
    color: var(--black);
    font-weight: 300;
}

nav ul li a:hover{
    color: black;
    transition: 0.3s;
}

/*Hero*/

.hero{
    display: flex;
    background-color: var(--light_green);
    height: 430px;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    
}

.hero_info{
    margin-right: 30px;
}
.hero_info h1{
    color: var(--white);
    font-size: 38px;
    font-family: Arial !important; 
    margin-bottom: 20px;


}

.hero_info p{
    color: var(--white);
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 26px;

}

.hero_btn{
    width: auto;
    height: auto;
    padding: 13px 23px;
    font-size: 16px;
    
}

#hero_signup_btn{
    background-color: black;
    color: var(--white);
    cursor: pointer;
}

#hero_signup_btn:hover{
    background-color: transparent;
    color: var(--black);
    transition: 0.3s;

}


#hero_saiba_mais_btn{
    background-color: transparent;
    cursor: pointer;
    
}

#hero_saiba_mais_btn:hover{
    background-color: var(--black);
    color: var(--white);
    transition: 0.3s;
}
.hero img{
    width: 450px;


    
}

/*Barra de separação*/
.separator_bar{
    background-color: var(--dark_green);
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.separator_bar h2{
    color: rgba(255, 255, 255, 0.31);
    font-weight: 300;
    font-size: 16px;
}

.separator_bar{
    display: flex;
}

.separator_bar img{
    width: 8%;
    margin: 0 30px;
}












/*Responsivo*/

@media screen and (max-width: 1024px){

    /*Nav*/
    nav{
        justify-content: center;
        padding: 0;
    }
    nav ul{
        display: none;
    }

    /*Hero*/
    .hero_info h1{
        font-size: 30px;
    
    
    }

    .hero_info p{
        font-size: 18px;
    
    }

    /*Separation bar*/
    .separator_bar h2{
        font-size: 18px;
    }
}



